# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Django
db.sqlite3

# User uploaded/generated media
media/

# Jupyter checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# VS Code
.vscode/